html {
  scroll-behavior: smooth;
  scroll-padding-top: 5em;
}

// Navbar - Index

.navbar {
  background: #fff;
  filter: drop-shadow(0px 2px 32px rgba(0, 0, 0, 0.1));
  height: 80px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 999;

  .container-fluid {
    background: #fff;
    padding: 0 3rem;
  }
}

.navbar-nav {
  align-items: center;
}

.nav-link {
  color: #000;
  padding: 15px !important;
}

.nav-item button {
  margin: 15px;
}

// Layout

.btn {
  border-radius: 7.6px;
  padding: 12px 24px;

  &.btn-dark {
    background: #000;
  }

  &.btn-light {
    background: #fff;
    border: solid 1px #000;
  }
}

// Project

.image-project {
  & img.img-fluid {
    border-radius: 48px;
    box-shadow: 0px 2px 32px 0px rgba(0, 0, 0, 0.10);
    max-width: 360px;
  }
}

// Footer - Index

footer {
  align-items: center;
  background: #fff;
  height: 90px;
}
